.portfolio {
    background-color: #fff;
    width: 60%;
    margin: 5% auto;
    padding: 25px;
}

.card {
    border: 1px solid #CECAC9;
}

.card-title {
    color: var(--accent);
    font-family: 'Roboto', sans serif;
    font-weight: 400;
}

.card-text {
    font-weight: 300;
    font-size: 0.9em;
    line-height: 150%;
}

.text-muted {
    color: var(--secondarytext)!important;
}